<a href="https://colab.research.google.com/github/Ian-Marinho/ppl-cd-pcd-sist-int-2025-1-ppl-cd-pcd-sist-int-2025-1-pcd-si-template/blob/main/Tabela_Filtrada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [10]:
import pandas as pd
#Variavel do .csv
data = pd.read_csv('Filtragem_de_Dados_Atualizada.csv')

In [11]:
#Renomear coluna
data = data.rename(columns={'Quantidade de cursos no estado onde mora': 'Existe faculdade no Estado'})

In [12]:
data

,Id,Idade,Faixa idade,Gênero,Cor/raca/etnia,PCD,Vive no Brasil,Estado onde mora,UF onde mora,Região onde Mora,...,Setor,Numero de Funcionários,Cargo Atual,Nível,Faixa salarial,Quanto tempo de experiência na área de dados você tem?,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?,Cientista de Dados/Data Scientist,Existe faculdade no Estado
0,001b2d1qtli8t9z7oqgdhj001b2d4i0g,31,30-34,Masculino,Branca,Não,1,Minas Gerais (MG),MG,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,NaN,NaN,1
1,0026aa3fwd78u0026asg7456tfkjg2cs,30,30-34,Masculino,Branca,Não,1,Espírito Santo (ES),ES,Sudeste,...,Finanças ou Bancos,de 101 a 500,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,de 3 a 4 anos,NaN,NaN,0
2,00r21rb9pusd1b0v7ew00r21rw3dy69w,37,35-39,Feminino,Amarela,Não,1,São Paulo (SP),SP,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Analista de Dados/Data Analyst,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,NaN,NaN,9
3,00urm3jf2cek12w6ygue00urm3jzd17j,22,22-24,Masculino,Preta,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
4,00v0az4g792svil00vn6y1kfm9hq8vy9,34,30-34,Masculino,Branca,Não,1,Minas Gerais (MG),MG,Sudeste,...,Outra Opção,de 101 a 500,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,zyg9519671iqrgy93qzyg95183k8ix5f,34,30-34,Masculino,Preta,Não,1,Minas Gerais (MG),MG,Sudeste,...,Tecnologia/Fábrica de Software,de 501 a 1.000,NaN,NaN,de R$ 20.001/mês a R$ 25.000/mês,de 7 a 10 anos,Mais de 10 anos,Acima de 300 pessoas,1.0,1
5289,zyppgxzxko25qkgwsbrgpzyppgxzxs81,32,30-34,Masculino,Branca,Não,1,Rio Grande do Norte (RN),RN,Nordeste,...,Outra Opção,Acima de 3.000,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,NaN,NaN,0
5290,zysl5f50cnz3r0cbe6t2zysrxbzfsrng,25,25-29,Masculino,Branca,Não,1,São Paulo (SP),SP,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Analista de Negócios/Business Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 3 a 4 anos,NaN,NaN,9
5291,zyt2656c9e1becxp457zyt26566dsng8,31,30-34,Masculino,Parda,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
5292,zzvyz3z5jy2lzzvyziv62lvtjrab9r5x,31,30-34,Masculino,Amarela,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [13]:
#variavel de coluna
coluna = 'Existe faculdade no Estado'

In [14]:
data[coluna] = data[coluna].apply(lambda x: 1 if x != 0 else 0)

In [15]:
data

,Id,Idade,Faixa idade,Gênero,Cor/raca/etnia,PCD,Vive no Brasil,Estado onde mora,UF onde mora,Região onde Mora,...,Setor,Numero de Funcionários,Cargo Atual,Nível,Faixa salarial,Quanto tempo de experiência na área de dados você tem?,Quanto tempo de experiência na área de TI/Engenharia de Software você teve antes de começar a trabalhar na área de dados?,Qual o número aproximado de pessoas que atuam com dados na sua empresa hoje?,Cientista de Dados/Data Scientist,Existe faculdade no Estado
0,001b2d1qtli8t9z7oqgdhj001b2d4i0g,31,30-34,Masculino,Branca,Não,1,Minas Gerais (MG),MG,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Cientista de Dados/Data Scientist,Sênior,de R$ 12.001/mês a R$ 16.000/mês,de 3 a 4 anos,Não tive experiência na área de TI/Engenharia ...,NaN,NaN,1
1,0026aa3fwd78u0026asg7456tfkjg2cs,30,30-34,Masculino,Branca,Não,1,Espírito Santo (ES),ES,Sudeste,...,Finanças ou Bancos,de 101 a 500,Analista de BI/BI Analyst,Pleno,de R$ 6.001/mês a R$ 8.000/mês,de 3 a 4 anos,de 3 a 4 anos,NaN,NaN,0
2,00r21rb9pusd1b0v7ew00r21rw3dy69w,37,35-39,Feminino,Amarela,Não,1,São Paulo (SP),SP,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Analista de Dados/Data Analyst,Júnior,de R$ 6.001/mês a R$ 8.000/mês,de 1 a 2 anos,Menos de 1 ano,NaN,NaN,1
3,00urm3jf2cek12w6ygue00urm3jzd17j,22,22-24,Masculino,Preta,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,00v0az4g792svil00vn6y1kfm9hq8vy9,34,30-34,Masculino,Branca,Não,1,Minas Gerais (MG),MG,Sudeste,...,Outra Opção,de 101 a 500,Analista de Dados/Data Analyst,Júnior,de R$ 4.001/mês a R$ 6.000/mês,Menos de 1 ano,Menos de 1 ano,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,zyg9519671iqrgy93qzyg95183k8ix5f,34,30-34,Masculino,Preta,Não,1,Minas Gerais (MG),MG,Sudeste,...,Tecnologia/Fábrica de Software,de 501 a 1.000,NaN,NaN,de R$ 20.001/mês a R$ 25.000/mês,de 7 a 10 anos,Mais de 10 anos,Acima de 300 pessoas,1.0,1
5289,zyppgxzxko25qkgwsbrgpzyppgxzxs81,32,30-34,Masculino,Branca,Não,1,Rio Grande do Norte (RN),RN,Nordeste,...,Outra Opção,Acima de 3.000,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,de R$ 8.001/mês a R$ 12.000/mês,de 4 a 6 anos,Não tive experiência na área de TI/Engenharia ...,NaN,NaN,0
5290,zysl5f50cnz3r0cbe6t2zysrxbzfsrng,25,25-29,Masculino,Branca,Não,1,São Paulo (SP),SP,Sudeste,...,Finanças ou Bancos,Acima de 3.000,Analista de Negócios/Business Analyst,Sênior,de R$ 8.001/mês a R$ 12.000/mês,de 1 a 2 anos,de 3 a 4 anos,NaN,NaN,1
5291,zyt2656c9e1becxp457zyt26566dsng8,31,30-34,Masculino,Parda,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
5292,zzvyz3z5jy2lzzvyziv62lvtjrab9r5x,31,30-34,Masculino,Amarela,Não,1,São Paulo (SP),SP,Sudeste,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1